<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kukuh.studio">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".Loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity
            android:name=".MainVisitor"
            android:parentActivityName=".Home"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainEmployee"
            android:parentActivityName=".Home" />
        <activity
            android:name=".EmployeeProfile"
            android:parentActivityName=".MainEmployee" />
        <activity
            android:name=".VisitorLogout"
            android:parentActivityName=".MainVisitor" />
        <activity
            android:name=".AddEmployee"
            android:parentActivityName=".MainEmployee" />
        <activity
            android:name=".EditEmployee"
            android:parentActivityName=".EmployeeProfile" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.kukuh.studio.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".SpeechEmployee"></activity>
    </application>

</manifest>